.cvazio{
    margin-top: 7% ;
    margin-bottom: 7%;
    margin-left: 18%;
    margin-right: 18%;
    border-style: dashed;
    padding-top: 10%;
    padding-bottom: 10%;
}

.tcvazio{
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.lcvazio{
    color: black;
    font-size: 20px;
}

.bcv1{
   padding-top:1%;
   padding-bottom: 1%;
}




.produtoscarrinho{
    margin-top: 7% ;
    margin-bottom: 0%;
    margin-left: 18%;
    margin-right: 18%;
    border-style: dashed;
    padding-top: 1%;
}

.produtos{
 display: inline-block;
 border: double;
 border-right: 20%;
 margin-top: 7% ;
 margin-bottom: 0%;
 margin-left: 8%;
 margin-right: 10%;
 padding: 0,1%;
 width: 50%;
 min-height: 40%;

}

.valortotal{
    
margin-top:7%;
display: inline-block;
border: double;
}

.sinal{
margin-right: 50%;
margin-left: 40%;
}

.titulo{
    position: absolute;
    height: 20%;
    text-align: center;
}