.cart-container {
    padding: 40px 80px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

#cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.empty-cart {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 4px dashed black;
}

.cart-product {
    min-height: 225px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    border: 1px solid #b9b9b9;
    overflow: hidden;
    gap: 30px;
}

.cart-product-image {
    max-width: 275px;
    align-self: center;
}

.cart-product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart-product-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-header-info {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.cart-product-name {
    margin: 0;
    font-weight: 400;
    font-size: 28px;
}

.cart-product-ammount {
    margin: 0;
    font-size: 18px;
}

.cart-delete-button {
    margin-left: auto;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: #5a5a5a;
    cursor: pointer;
}

.cart-delete-button:hover {
    background-color: rgba(0, 0, 0, .1);
}

.cart-delete-button:active {
    background-color: rgba(0, 0, 0, .2);
}

.cart-product-size-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-product-size {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
}

.cart-product-price-info {
    margin-top: auto;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.cart-product-price {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.cart-product-stock {
    margin: 0;
}

.buy-cart {
    padding: 20px;
    border: 1px solid #b9b9b9;
    display: flex;
    flex-direction: column;
}

.subtotal {
    display: flex;
    justify-content: space-between;
}

.subtotal p {
    margin: 0;
    font-weight: 600;
}

.cep-calc {
    display: flex;
    align-items: center;
    gap: 10px;
}

#cep {
    border: none;
    border-bottom: 2px solid #000000;
    width: 150px;
}

.cep-calc-btn {
    margin: 0;
    padding: 10px 15px;
    border: none;
    background-color: #000000;
    color: white;
    white-space: nowrap;
    text-transform: uppercase;
    cursor: pointer;
}

.cep-calc-btn:hover {
    background-color: #242424;
}

.total {
    display: flex;
    flex-direction: column;
}

.total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.total-price h3, .total-price p {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.end-buy {
    margin: 10px 0;
    padding: 15px;
    border: none;
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.keep-buying {
    padding: 15px;
    border: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}

.return {
    padding: 15px 25px;
    background-color: black;
    color: white;
    font-weight: 500;
}
