.fotobox{
    border-style:round;
    padding:5em;
    display:flex;
}
.englobox{
    display:flex;
    padding:8px;
}
.englobox1{
    display:flex;
    flex-direction:column;
}
.titulo-produto{
    padding:20px 0;
}
.area-descricao{
    background-color: #DBD4D3;
    width:100%;
    padding:20px;
}
.descricao{
    padding:0 80px;
    margin-bottom:4px;
}
.preco{
    padding:10px;
}
.button{
    border: none;
    color: white;
    background-color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}